<table class="{{showMe mySchools}}">
    <thead>
    <tr>
        <th>Skole</th>
        <th>Gruppe</th>
        <th>Vis rapport varsler</th>
        <th>Vis rapport elevsamtaler</th>
    </tr>
    </thead>
    <tbody>
    {{#each myClasses}}
    <tr>
        <td>{{schoolId}}</td>
        <td>{{group}}</td>
        <td>
            <a href="/reports/warnings/class/{{id}}" title="Vis rapport for varsler fra {{id}}">
                <i class="material-icons">report</i>
            </a>
        </td>
        <td>
            <a href="/reports/followups/class/{{id}}" title="Vis rapport for elevsamtaler fra {{is}}">
                <i class="material-icons">chat</i>
            </a>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>