<div class="{{showMe mySchools}}">
    <table>
        <thead>
        <tr>
            <th>Skole</th>
            <th>Vis klasser</th>
        </tr>
        </thead>
        <tbody>
        {{#each mySchools}}
        <tr>
            <td>{{name}}</td>
            <td>
                <a href="/classes/{{id}}" title="Vis klasser fra {{name}}">
                    <i class="material-icons">list</i>
                </a>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>