<h1>{{stripSchoolId classId}}</h1>
{{#each students}}
    <div>
      <h2>{{name}}</h2>
      <p>{{header}}</p>
      <p>Årstimer: {{hours}}</p>
      <p>Utdanningsprogram: {{utdanningsprogram}}</p>
      {{#each data}}
        <h3>Programområde: {{name}}</h3>
        Kompetansemål for opplæringen:
        <ul>
          {{#each maal}}
            <li>{{name}}</li>
          {{/each}}
        </ul>
      {{/each}}
    </div>
    <button class="button primary copy-button" onclick="copyToClipboard">Trykk for å kopiere kompetansebevis for {{name}}</button>
    <hr>
{{/each}}
<!-- Helperscript for copy -->
<script src="/public/js/copybutton.js"></script>