<h1>Hjelp</h1>

<p>Nedenfor finner du <a href="#faq">ofte stilte spørsmål og svar</a> og en forklaring på <a href="#iconexpl">ikoner og statuser i løsningen</a>.</p>
<p>Det er laget en kort <a href="https://www.youtube.com/watch?v=EaphC5gz8fU" target="_blank" title="Se opplæringsvideoen på YouTube">opplæringsvideo</a> du kan se på YouTube.<p/>
<p>Feil, mangler og ønsker kan du sende til <a href="mailto:post.opplaring@t-fk.no" title="Send e-post til post.opplaring@t-fk.no" target="_blank">post.opplaring@t-fk.no</a></p>
<table>
    <tbody>
    <tr id="faq">
        <td colspan="2">
            <strong>Spørsmål og svar</strong>
        </td>
    </tr>
    <tr>
        <td>Rapporter</td>
        <td>
            Å hente ut rapporter klassevis gjøres fra arkivsystemet 360. <br/>
            Få noen med 360-tilgang til å hjelpe deg. <br />
            Brukerveiledning: Søk på Rapport og MinElev i søkefeltet øverst til høyre i 360.
        </td>
    </tr>
    <tr id="iconexpl">
        <td><strong>Ikon/Valg</strong></td>
        <td><strong>Funksjon</strong></td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Navigasjon</strong>
        </td>
    </tr>
    <tr>
        <td><i class="material-icons">home</i></td>
        <td>Til forsiden</td>
    </tr>
    <tr>
        <td><i class="material-icons">poll</i></td>
        <td>Statistikkside</td>
    </tr>
    <tr>
        <td><i class="material-icons">help_outline</i></td>
        <td>Hjelp (denne siden)</td>
    </tr>
    <tr>
        <td><i class="material-icons">power_settings_new</i></td>
        <td>Avslutt/Logg ut av {{systemName}}</td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Skolelisten</strong>
        </td>
    </tr>
    <tr>
        <td><i class="material-icons">list</i></td>
        <td>Vis klasser for skolen</td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Klasselisten</strong>
        </td>
    </tr>
    <tr>
        <td><i class="material-icons">report</i></td>
        <td>Vis rapport for varsler</td>
    </tr>
    <tr>
        <td><i class="material-icons">chat</i></td>
        <td>Vis rapport for elevsamtaler</td>
    </tr>
    </tbody>
</table>