<h1>{{stripSchoolId classId}}</h1>

{{#each report}}
    <table>
        <thead>
        <tr>
            <th>Navn</th>
            <th>Periode</th>
            <th>Angående</th>
            <th>Sendt av</th>
            <th>Dato</th>
        </tr>
        </thead>
        <tbody>
        {{#each students}}
        <tr>
            <td>{{studentName}}</td>
            <td>{{period}}</td>
            <td><strong>{{stripSchoolId category}}</strong><br/>{{{newlineToBr description}}}</td>
            <td>{{userName}}</td>
            <td>{{formatDate date}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p class="error">
      Fant varsler for <strong>{{stripSchoolId classId}}</strong> for denne perioden. Sjekk tilbake senere!
    </p>
{{/each}}
