<h1>Elevsamtaler for {{stripSchoolId classId}}</h1>
{{#each report}}
    <table>
        <thead>
        <tr>
            <th>Klasse</th>
            <th>Navn</th>
            <th>Periode</th>
            <th>Angående</th>
            <th>Sendt av</th>
            <th>Dato</th>
        </tr>
        </thead>
        <tbody>
        {{#each students}}
        <tr>
            <td>{{stripSchoolId studentMainGroupName}}</td>
            <td>{{studentName}}</td>
            <td>{{period}}</td>
            <td>{{stripSchoolId category}}</td>
            <td>{{userName}}</td>
            <td>{{formatDate date}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p class="vt-card error">
      Fant ingen elevsamtaler for <strong>{{stripSchoolId classId}}</strong> for denne perioden. Kom tilbake senere!
    </p>
{{/each}}
