<h1>Varsler for {{stripSchoolId classId}}{{schoolId}}</h1>

{{#each report}}
    <table>
        <thead>
        <tr>
            <th>Navn</th>
            <th>Periode</th>
            <th>Angående</th>
            <th>Sendt av</th>
            <th>Dato</th>
        </tr>
        </thead>
        <tbody>
        {{#each students}}
        <tr>
            <td>{{studentName}}</td>
            <td>{{period}}</td>
            <td><strong>{{stripSchoolId category}}</strong><br/>{{{newlineToBr description}}}</td>
            <td>{{userName}}</td>
            <td>{{formatDate date}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    {{#if classId}}
        <p class="vt-card error">
            Fant ingen varsler for <strong>{{stripSchoolId classId}}</strong> for denne perioden. Kom tilbake senere!
        </p>
    {{else}}
        <p class="vt-card error">
            Fant ingen varsler for skolen din, <strong>{{schoolId}}</strong>.<br>
            Det kan skyldes at det enda ikke er sendt ut noen varsler dette skoleåret.
        </p>
    {{/if}}
{{/each}}
